.spinner{
animation: loading 1s linear infinite;
}

.spinner-container{
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  list-style: none;

  .title-loading{
    background-color: rgb(29, 28, 28);
    padding: 1rem;
    border-radius: 30px;
    color: #ea2227;
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 0.10rem;
  }

  .shield{
    width: 100px;
    height: 100px;
  }
 
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}